/*-------------------------------------------------
FONTS: FAMILY :: Chivo-Regular
-------------------------------------------------*/
@font-face {
    font-family: 'Chivo-Regular';
    src: url('../assets/fonts/Chivo-Regular.ttf');
    src: url('../assets/fonts/Chivo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------
FONTS: FAMILY :: Chivo-Black
-------------------------------------------------*/
@font-face {
    font-family: 'Chivo-Black';
    src: url('../assets/fonts/Chivo-Black.ttf');
    src: url('../assets/fonts/Chivo-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Oswald
-------------------------------------------------*/
@font-face {
    font-family: 'Oswald-Regular';
    src: url('../assets/fonts/Oswald-Regular.ttf');
    src: url('../assets/fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Light';
    src: url('../assets/fonts/Oswald-Light.ttf');
    src: url('../assets/fonts/Oswald-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Medium';
    src: url('../assets/fonts/Oswald-Medium.ttf');
    src: url('../assets/fonts/Oswald-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Oswald-Heavy';
    src: url('../assets/fonts/Oswald-Heavy.ttf');
    src: url('../assets/fonts/Oswald-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Oswald-Bold';
    src: url('../assets/fonts/Oswald-Bold.ttf');
    src: url('../assets/fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*-------------------------------------------------
FONTS: FAMILY :: Gotham
-------------------------------------------------*/
@font-face {
    font-family: 'Gotham-Black';
    src: url('../assets/fonts/Gotham-Black.ttf');
    src: url('../assets/fonts/Gotham-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Bold';
    src: url('../assets/fonts/Gotham-Bold.ttf');
    src: url('../assets/fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham-Medium';
    src: url('../assets/fonts/Gotham-Medium.ttf');
    src: url('../assets/fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------
FONTS: FAMILY :: OpenSans
-------------------------------------------------*/

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../assets/fonts/OpenSans-Light.ttf');
    src: url('../assets/fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
