.pass__default_btn {
	height: 100%;
	width: 53%;
	font-family: Oswald-heavy;
	font-size: 27px;
	font-weight: 900;
	text-align: center;
	text-shadow: 0 2px 4px rgba(38.495, 38.495, 38.495, 0.5);
	color: white;
	border-radius: 4px;
}
.activate-pass{
	height: 17%;
	position: relative;
	button{
		background-color: #ffa600;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px #11242f, 0 4px 0 0 #11242f, 0 3px 0 0 #946206;
		border: solid 1px rgba(255, 255, 255, 0.32);
	}
}
.back-button{
	height: 17%;
	position: relative;
	button{
		border: solid 1px #ffffff;
		background: #230257;
	}
}
.monthly_pass_kilometer_range {
	justify-content: center !important;
}

//common css for all pass types

.pass_types_main_section{
	display : flex;
	width : 100%;
	height: 100%;
	position : absolute;
	flex-direction: column;
	.pass-option {
			background-color: #0e0127;
	    position: relative;
	    display: flex;
	    height: 15%;
	    padding: 1.5% 1%;
	    width: 100%;
	    justify-content: space-between;
	    a {
	    	width : 100%;
	    	button {
		    	font-family : Oswald-Regular;
		    	position: relative;
		    	color: #545456;
		    	width: 98%;
		    	margin: 0% 0.5%;
		    	text-align: center;
		    	height: 98%;
		    	border-radius: 4px;
					background-color: #e3e3e6;
					box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.5), 0 3px 0 0 #8e8e8e;
					border: solid 1px rgba(255, 255, 255, 0.32);
					font-size: 26px;

					&.active {
			        background: #5cca00;
			    }
				}
	    }

	}
	.flavour-range-div {
	    display: flex;
	    position: relative;
	    height: 80%;
	    width: 100%;
	    justify-content: space-between;

	    .pass-flavour {
		    display: flex;
		    position: relative;
		    height: 88%;
		    width: 48%;
		    justify-content: space-between;
    		margin: 3% 0% 0% 5%;

				.pass-flavour__action_buttons {
					height: 21%;
					font-family: Oswald-regular;
					font-size: 20px;
					letter-spacing: 0.9px;
				}

		    .kilometer-range {
		    	display: flex;
			    flex-direction: column;
			    width: 44%;
			    //justify-content: space-between;
			    button {
				    background: #230257;
				    border: solid 4px #4fc500;
				    color : #4fc500;
				    margin-bottom: 9%;
			    }
		    }
		    .month-range {
		    	display: flex;
			    flex-direction: column;
			    width: 44%;
			    justify-content: space-between;
			    button {
				    background-color: #5cca00;
						box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
				    border: solid 4px ;
				    color : white;
			    }
		    }
		}
		.second-part {
			width: 42%;
		    height: 90%;
		    display: flex;
		    flex-direction: column;
		    justify-content: space-between;

		    .date-trip-time {
		    	height: 100%;
			    display: flex;
			    flex-direction: column;
			    justify-content: space-between;

			    .current-date {
			    	width: 95%;
				    text-align: right;
				    opacity: 0.5;
				    font-family: Oswald-regular;
				    font-size: 30px;
				    font-weight: normal;
				    font-style: normal;
				    font-stretch: normal;
				    line-height: 2.67;
				    letter-spacing: 1.1px;
			    }
			    .date-validity {
			    	opacity: 0.9;
				    font-family: Oswald-regular;
				    font-size: 30px;
				    letter-spacing: 1.1px;
			    }
			    .trips-validity	{
			    	opacity: 0.9;
				    font-family: Oswald-regular;
				    font-size: 30px;
				    letter-spacing: 1.1px;
			    }
			    .total-text	{
		    	  opacity: 0.5;
				    font-family: Oswald-regular;
				    font-size: 20px;
				    letter-spacing: 0.7px;
			    }
			    .amount {
			    	font-family: Oswald-light;
				    font-size: 60px;
				    font-weight: 300;
				    display : flex;
				    span:nth-child(1) {
			    	    font-size: 39px;
					    float: left;
					    margin-top: -2%;
				    }
				    p {
				    	font-size : 32px;
				    }
			    }
		    }
		}
	}
}
