
//@media  for (min-height: 1000px)
@media (min-height: 1000px){
    .second-scroll::-webkit-scrollbar {
      display:none;
    }
}

.ttd-recharge-card-header {
    object-fit: contain;
    background-color: #c8e6c9;
    width: 100%;
    font-family: Oswald-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
    padding: 1.5%;
}
