.my-image {
    background:url('../images/combined-shape@3x.png') no-repeat;
    width: 64%;
    height: 100%;
    float: left;
    background-size: 100%;
}

.signin-style {
    background-color: white;
    width: 100%;
    position: absolute;
    float: left;
    overflow: hidden;
    height: 100%;
}

.auth__content_section {
    font-weight: bold;
    width: 31%;
    position: absolute;
    left: 40%;
    top: 20%;
    padding-bottom: 22px;
    background: white;
    border: 0.5px solid;
    box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    .signin-box-img {
      display: block;
      width: 100%;
    }
    .sigin-content {
        padding: 4% 8% 6% 8%;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        font-family: oswald-regular;
        letter-spacing: 1px;
        .login-style {
            opacity: 0.9;
            font-size: 15px;
            color: #596c8f;
        }
        .email-input-style {
            background-color: white;
            border: 0;
            border-bottom: solid 1px #9aa0b7;
            color: black;
            font-size: 24px;
            opacity: 0.8;
        }
        .login-password {
            opacity: 0.9;
            font-size: 15px;
            color: #596c8f;
            padding-top: 5%;
        }
        .password-input-style {
            background-color: white;
            border: 0;
            border-bottom: solid 1px #9aa0b7;
            color: black;
            opacity: 0.8;
            font-size: 24px;
            padding-top: 3%;
        }
    }
    .sigin-content-forgotpassword {
        padding: 4% 8% 9% 8%;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        font-family: oswald-regular;

        .login-style {
            opacity: 0.9;
            font-size: 20px;
            color: #596c8f;
        }
        .email-input-style {
            background-color: white;
            border: 0;
            border-bottom: solid 1px #9aa0b7;
            color: black;
            font-size: 24px;
            opacity: 0.8;
        }
        .login-password {
            opacity: 0.9;
            font-size: 15px;
            color: #596c8f;
            padding-top: 10%;
            padding-bottom : 3%;
        }
        .password-input-style {
            background-color: white;
            border: 0;
            border-bottom: solid 1px #9aa0b7;
            color: black;
            opacity: 0.8;
            font-size: 24px;
            padding-top: 3%;
        }
    }

    .signin-button-div {
        text-align: center;
        .signin-button {
            background-color: #28ac6d;
            border: none;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 100px;
            font-family: Oswald-Regular;
            letter-spacing: 2px;
            color: #f6f7fc;
            font-weight: normal;
            font-stretch: normal;
            padding: 4% 16%;
        }
    }
    .forget-password-div {
        text-align: center;
        margin-top: 2%;

        .forget-password {
            opacity: 0.5;
            font-size: 13px;
            letter-spacing: 2px;
            color: #596c8f;
            font-family: Oswald-Regular;
            font-weight: normal;
            font-stretch: normal;
        }
    }
    .siginin-tag {
        text-align: center;
        margin: -20% 16% 10% 16%;

        p {
            font-family: Oswald-Regular;
            font-size: 26px;
            text-align: center;
            color: #596c8f;
        }
    }
}

.signin-box-text {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: #596c8f;
    font-family: Oswald-Regular;
}
.change-password-text{
    font-family: Oswald-regular;
    font-size: 20px;
    text-align: center;
    color: #596c8f;
    margin: 1.5% 0%;
}

.login-input {
    opacity: 0.5;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1px;
    text-align: center;
    color: #596c8f;
}

.doe-logo {
    position: absolute;
    right: 0px;
    margin: 1%;
}

.hello-there-text {
    font-size: 54px;
    font-weight: 900;
    color: white;
    font-family: Oswald-Heavy;
}

.p-section {
    font-family: Oswald-Regular;
    font-size: 31px;
    color: #fff;
    width: 32%;
    line-height: 1.4;
    display: inline-block;
}

.sign-in-and {
    font-size: 31px;
    margin-top: -371px;
    margin-left: 62px;
    margin-bottom: 19px;
    letter-spacing: normal;
    color: white;
    font-family: Oswald-Regular;
}

.manage-your {
    margin-left: 62px;
    font-size: 31px;
    margin-bottom: 24px;
    color: white;
    font-family: Oswald-Regular;
}

.toll-items {
    font-size: 31px;
    margin-left: 62px;
    color: white;
    font-family: Oswald-Regular;
}

.coin-logo {
    float: right;
    margin-top: 6%;
}

.left-text-section {
    margin-left: 9%;
    margin-top: 39%;
    line-height: 1.4;
}

.request-link {
    opacity: 0.8;
    font-family: Oswald-Regular;
    font-size: 13px;
    letter-spacing: 2px;
    color: #596c8f;

    &:hover {
        color: #596c8f;
    }
}



//@media  for (min-width: 1664px)
@media (min-width: 1664px) {
    // .my-image {
    //     width: 890px;
    //     height: 1087px;
    // }
}


//@media  for (min-width: 1366px)
@media (min-width: 1366px) {
    // .my-image {
    //     height: 730px;
    // }
}

//@media  for (min-width: 1920px)
@media (min-width: 1920px) {
    // .my-image {
    //     height: 1044px;
    // }
}

//@media  for (max-width: 1024px)
@media (max-width: 1024px) {
    body {
        width: 99.9%;
        padding-right: 0px !important;
    }
    // .my-image {
    //     width: 59.5%;
    //     height: 747px;
    // }

}
//@media  for (min-width: 1500px)
@media (min-width: 1500px) {
    // .my-image {
    //     width: 710px;
    //     height: 843px;
    // }
}

//@media  for (min-width: 1900px)
@media (min-width: 1900px) {
    // .my-image {
    //     width: 872px;
    //     height: 1058px;
    // }
}


//@media  for (min-height: 900px)
@media (min-height: 900px){
    // .my-image {
    //     width: 64%;
    //     height: 1003px;
    //     background-size: 89% 101%;
    // }
 }
