.parent-class{
    background-color: #230257;
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
}
a{
    cursor : pointer;
}
.scroll-style{
    overflow-y: overlay;
    max-height: 100%;
    width: 100%;
}
.noTransactionMessage{
    font-size: 25px;
    font-family: oswald-medium;
    color: white;
}
.second-scroll::-webkit-scrollbar {
    display:none;
}
.third-scroll::-webkit-scrollbar {
        display:none;
}
.fourth-scroll::-webkit-scrollbar {
    display:none;
}
.fifth-scroll::-webkit-scrollbar {
    display:none;
}

.first-transaction-table {
    width: 100%;
    margin-bottom: 0;
    th {
        border: solid 1px #cccccc;
        text-align: center;
        padding: 2%;
        background-color: #f5f9fe;
        font-family: Oswald-Medium;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #333333;
    }
    tr {
        width: 100%;
    }
    td {
        text-align: center;
        background-color: #edf9fe;
        border: solid 1px #cccccc;
        padding: 6% 2% 8% 3%;
        font-family: Oswald-Light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #4a4a4a;
        width: 33%;
        text-align: left;
    }
}

.second-transaction-table {
    width: 100%;
    tr:nth-child(2n+1) {
        background: #ECF3FC;
    }
    tr:nth-child(2n) {
        background: #EDF9FE;
    }
    th {
        font-family: Oswald-Medium;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.6px;
        color: #ffffff;
        text-align: center;
        object-fit: contain;
        border-right: solid 1px #cccccc;
        padding: 2.5% 0 2.5% 0;
        background-color: #162e4c;
    }
    td {
        text-align: center;
        border: 1px solid #cccccc;
        padding: 1.6% 0;
        font-family: Oswald-Light;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: #333333;
    }
}


.card-activated-header {
    object-fit: contain;
    background-color: #c8e6c9;
    width: 100%;
    margin-top: 1.5%;
    font-family: Oswald-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
    padding: 1.5%;
}

.third-transaction-table {
    width: 100%;
    tr:nth-child(2n+1) {
        background: #DAECE8;
    }
    tr:nth-child(2n) {
        background: #C7DADC;
    }
    th {
        padding: 2% 0 2% 0;
        object-fit: contain;
        background-color: #ffffff;
        border-right: solid 1px #cccccc;
        font-family: Oswald-Medium;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        color: #333333;
    }
    td {
        text-align: center;
        border: 1px solid #cccccc;
        padding: 1.6% 0;
        font-family: Oswald-Light;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: #333333;
    }
}
.total-amount-passactivated {
    padding: 1.5% 0%;
    width: 100%;
    box-shadow: 0 -6px 19px 0 rgba(0, 0, 0, 0.28);
    border: solid 1.3px rgba(255, 255, 255, 0.35);
    display: flex;
    .text-total{
        width: 7%;
        text-align: center;
        .total-amount-text {
            font-family: Oswald-Medium;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
        }
    }
    .total-card-sold{
        width: 19%;
        text-align: center;
       .total-card {
            font-family: Oswald-Medium;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
        } 
    }
    .total-amount-collected{
        width: 11%;
        text-align: center;
        .total-settlement-amount {
            font-family: Oswald-Medium;
            font-size: 20px;
            font-weight: 500;
            text-align: left;
            color: #ffffff;
        }
    }
    
}
.backgroung-green{
    background-image: linear-gradient(to bottom,#b4ec50, #419321) !important;
}

.card-unsuccessful-header {
    object-fit: contain;
    background-color: #f8a03d;
    width: 100%;
    margin-top: 1.5%;
    font-family: Oswald-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
    padding: 1.5%;
}

.fourth-transaction-table {
    width: 100%;
    tr:nth-child(2n+1) {
        background: #edf9fe;
    }
    tr:nth-child(2n) {
        background: #F1D0B4;
    }
    th {
        padding: 2% 0 2% 0;
        object-fit: contain;
        border-right: solid 1px #cccccc;
        font-family: Oswald-Medium;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        color: #333333;
        opacity: 1;
        background-color: #FAEEE4;
        //box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
    }
    td {
        text-align: center;
        border: 1px solid #cccccc;
        padding: 1.6% 0;
        font-family: Oswald-Light;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: #333333;
    }
}

/*
.total-amount-deactivated {
    padding: 1.5% 3%;
    width: 100%;
    background-image: linear-gradient(to bottom, #fbda61, #f76b1c);
    box-shadow: 0 -6px 19px 0 rgba(0, 0, 0, 0.28);
    border: solid 1.3px rgba(255, 255, 255, 0.35);
    .total-amount-text {
        margin-right: 23%;
        font-family: Oswald-Medium;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: left;
        color: #ffffff;
    }
    .total-card {
        margin-right: 29%;
        font-family: Oswald-Medium;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
    }
    .total-settlement-dect-amount {
        font-family: Oswald-Medium;
        font-size: 20px;
        font-weight: 500;
        text-align: left;
        color: #ffffff;
    }
} */

//  recharge styling
.recharge-transaction-table {
    width: 100%;
    tr:nth-child(2n+1) {
        background: #edf9fe;
        opacity: 1;
    }
    tr:nth-child(2n) {
        background: #DCEEE9;
    }
    th {
        padding: 2% 0 2% 0;
        object-fit: contain;
        border-right: solid 1px #cccccc;
        font-family: Oswald-Medium;
        font-size: 16px;
        font-weight: 800;
        letter-spacing: 1px;
        text-align: center;
        color: #333333;
        background-color: #F3F8F6;
    }
    td {
        text-align: center;
        border: 1px solid #cccccc;
        padding: 1.8% 0;
        font-family: Oswald-Light;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 0.6px;
        color: #333333;
    }
}

.recharge-card-header {
    object-fit: contain;
    background-color: #c8e6c9;
    width: 100%;
    margin-top: 1.5%;
    font-family: Oswald-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
    padding: 1.5%;
}

.total-recharge-div {
    padding: 1.5% 0%;
    width: 100%;
   // background-image: linear-gradient(to bottom, #b4ed50, #429321);
    box-shadow: 0 -6px 19px 0 rgba(0, 0, 0, 0.28);
    border: solid 1.3px rgba(255, 255, 255, 0.35);
    display: flex;
    .total-text{
            width: 12%;
            text-align: center;
        .total-amount-text {
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
        }
    }
    .total-card-recharge{
            width: 63%;
            text-align: center;
        .total-card {
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: 500;
            text-align: center;
            color: #ffffff;
        }
    }
    .total-recharge-sum{
        width: 17%;
        text-align: center;
        .recharge-total-amount {
            font-family: Oswald-Regular;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
        }
    }
    
}
.background-orange{
    background-color: #f8a03d !important;
}
.amounts-div-header {
    object-fit: contain;
    background-color: #c8e6c9;
    width: 100%;
    margin-top: 1.5%;
    font-family: Oswald-Medium;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    color: #333333;
    padding: 1.5%;
}
.no-margin-to{
    margin-top : 0% !important;
}
.amounts-table {
    width: 100%;
    margin-bottom: 0;
    tr:nth-child(2n+1) {
        background: #DBECE8;
    }
    tr:nth-child(2n) {
        background: #edf9fe;
    }
    td {
        border: solid 1px grey;
        padding: 1.6% 0;
        font-family: Oswald-Regular;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: center;
        color: #333333;
        //width: 50%;
    }
    .td-left {
        padding: 1.6% 0;
        font-family: Oswald-Light;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
        text-align: center;
        color: #333333;
        width: 50%;
    }
    .heading-backgrond-color-cards{
        background-color: #E0E5E9 !important; 
    }
    .content-backgrond-color-cards{
        background : #c6d8f4 !important;

    }
}

.amount-style-bottom {
    padding: 1.5% 0%;
    margin-bottom: 1.6%;
    width: 100%;
    background-image: linear-gradient(to bottom, #b4ed50, #429321);
    box-shadow: 0 -6px 19px 0 rgba(0, 0, 0, 0.28);
    border: solid 1.3px rgba(255, 255, 255, 0.35);
    display: flex;
    .total-collection-text{
        width: 50%;
        text-align: center;
        .total-amounts-amount {
            font-family: Oswald-Medium;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 1px;
            text-align: left;
            color: #ffffff;
        }
    .amounts-amount {
        font-family: Oswald-Medium;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: left;
        color: #ffffff;
        }
    }
    
}

.transaction-full-detail {
    width: 100%;
    margin-bottom: 0;
    tr:nth-child(2n+1) {
        background: #ECF3FC;
    }
    td{
        padding: 2% 10%;
    }
    tr:nth-child(2n) {
        background: #edf9fe;
    }
    .details-left {
        font-family: Oswald-Medium;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        color: #4a4a4a;
        width: 40%;
        font-family: Oswald-Regular;
        font-size: 20px;
    }
    .details-right {
        font-family: Oswald-Light;
        font-size: 20px;
        letter-spacing: 1px;
        color: #4a4a4a;
    }
}

.details-details-total {
    padding: 2% 10%;
    width: 100%;
    background-image: linear-gradient(to bottom, #b4ed50, #429321);
    box-shadow: 0 -6px 19px 0 rgba(0, 0, 0, 0.28);
    border: solid 1.3px rgba(255, 255, 255, 0.35);
    .details-amount-text {
        margin-right: 44%;
        font-family: Oswald-Medium;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: left;
        color: #ffffff;
    }
    .details-amount-total {
        font-family: PingFangSC;
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 1px;
        text-align: right;
        color: #4a4a4a;
    }
}

.daily-monthly-div {
    opacity: 0.6;
    background-image: radial-gradient(circle at 50% 14%, #f5f9ff, #c7d9f5), linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25)), linear-gradient(#f5f8ff, #f5f8ff);
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
    border: solid 0.5px rgba(150, 150, 150, 0.12);
}

.report-generated-div {
    padding: 1.3% 0% 1% 35%;
    width: 100%;
    background-color: #edf9fe;
    border: solid 1.3px rgba(255, 255, 255, 0.35);
    .start-date{
        padding: 0% 3%;
    }
    .report-generation-from {
        font-family: Oswald-Light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #4a4a4a;
    }
    .date-from {
        font-family: Oswald-Light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.9px;
        color: #4a4a4a;
        margin: 0 0 0 3%;
    }
    .to-text {
        font-family: Oswald-Light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.9px;
        color: #4a4a4a;
        margin: 0 0 0 2%;
    }
    .date-to {
        font-family: Oswald-Light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.9px;
        color: #4a4a4a;
        margin: 0 0 0 2%;
    }
}

.automatic-settlement {
    padding: 1.3%;
    width: 100%;
    background-color: #ECF3FC;
    border: solid 1.3px rgba(255, 255, 255, 0.35);
    .automatic-settlement-from {
        font-family: Oswald-Light;
        font-size: 20px;
        font-weight: 300;
        letter-spacing: 1px;
        color: #4a4a4a;
        margin: 1% 0 1% 36.6%;
    }
    .date-from {
        font-family: Oswald-Light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.9px;
        color: #4a4a4a;
        margin: 0 0 0 5%;
    }
    .to-text {
        font-family: Oswald-Light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.9px;
        color: #4a4a4a;
        margin: 0 0 0 2%;
    }
    .date-to {
        font-family: Oswald-Light;
        font-size: 18px;
        font-weight: 300;
        letter-spacing: 0.9px;
        color: #4a4a4a;
        margin: 0px 0px 0px 4%;
    }
}

.calender-from {
    margin-left: 6%;
}

.summary-sub-headers{
    margin: 1% 1%;
    float: left;
    font-family : Oswald-Regular;
    font-size : 14px;
    color : #444444;
    opacity : 0.7;
}
//summary table background
.background-summary-table {
    background : #eae7f0 !important;

        table {
            tr,td,th {
             background : white !important;
            }
        }
        .total-amount-transafer-section {
            height: 11%;
            border: 1px white solid;
            display: flex;
            background: white;
            padding: 1% 6%;
            width: 100%;

        .escrow-merchant-balance{
            width: 50%;
            display: flex;
            flex-direction: column;

            span {
                font-size: 16px;
                color: black;
                opacity: 0.5;
                margin-bottom: 2%;
                font-family : oswald-regular
            }
            p{
                color: black;
                opacity: 0.9;
                font-size: 26px;
                font-family : oswald-regular
            }
        }
    }
    .summary-sub-headers{
        margin: 1% 1%;
        float: left;
        font-family : Oswald-Regular;
        font-size : 14px;
        color : #444444;
        opacity : 0.7;
    }
}


    
//@media  for (min-height: 1000px)
@media (min-height: 1000px){
    .scrollable-div {
        overflow-y: auto;
        max-height: 845px;
        
        }
    }
