<div class="signin-style">
    <div class="my-image">
        <div class="left-text-section">
            <div class="hello-there-text"> Hello there! </div>
            <p class="p-section"> Sign in and start managing your Toll items</p>
        </div>
    </div>
    <img src="../src/images/d-o-e-l-o-g-o.png" class="doe-logo" [routerLink]="['../home']" />
    <div class="auth__content_section">
        <div class="siginin-div">
            <img src="../src/images/card-bg.jpg" class="signin-box-img">
            <div class="siginin-tag">
                <p>Tap DOE card back of your device to login</p>
            </div>
        </div>
        <form ng-submit="userLogin()">
            <div class="signin-box-text" >FORGOT PASSWORD?</div>
            <div class="change-password-text">Change Password</div>
            <div class="sigin-content">
                <div class="login-style">New Password</div>
                <div class="email-input">
                    <input type="text" ng-model="loginInfo.username" name="name" class="email-input-style" value="" placeholder="12345" style=" padding-top: 3%;width: 94%;">
                </div>
                <div class="login-password">Confirm New Password</div>
                <div class="password-input">
                    <input type="password"  ng-model="loginInfo.password" name="name" class="password-input-style" value="" placeholder="*****" style="width: 94%;">
                </div>
            </div>
            <div class="signin-button-div">
                <a >
                    <button ng-click="enterNewPassword()" class="signin-button hide-outline">RESET PASSWORD<img class="arrow-go" src="../src/images/arrow.png"/> </button>
                </a>
            </div>
        </form>
    </div>
    <div>
    <div>
        <img src="../src/images/coin.png" class="coin-logo" />
    </div>
</div>
