<div class="parent-class">
        <div class="button-style">
          <a [routerLink]="['../rate-card']">
            <button type="button">Rate Card</button>
          </a>
          <a>
            <button type="button" class="active">Transaction</button>
          </a>
          <a [routerLink]="['../pass']">
            <button type="button" class="">Pass</button>
          </a>
          <a [routerLink]="['../recharge']">
            <button type="button" class="">Recharge</button>
          </a>
          <a [routerLink]="['../cardsettlement']">
            <button type="button" name="">Doe Card</button>
          </a>
          <a [routerLink]="['../summary']">
            <button type="button" name="">Summary</button>
          </a>
          <a [routerLink]="['../profile']">
            <button type="button" name="">Profile</button>
          </a>
        </div>
        <div class="content-page">
            <div *ngIf="noTransactionMesage" class="amounts-div-header no-margin-to">
                <span>{{noTransactionMesage}} </span>
            </div>
            <div class="scrollable" *ngIf="!noTransactionMesage">
                <table class="first-transaction-table">
                    <tr>
                        <th>MERCHANT NAME</th>
                        <th>TOLL GATE DETAILS</th>
                        <th>OPERATOR DETAILS</th>
                    </tr>
                    <tr>
                        <td>
                            <p>Name of Concessionaire / OMT Contractor : {{companyDetails.name}}.<br> Name / Contact Details of Incharge : {{companyDetails.contact.details.landlineNumber}}</p>
                        </td>
                        <td>
                            <p>{{tollInfo.items[0].name}}<br>{{tollInfo.items[0].location.area}}<br>Km {{tollInfo.items[0].location.kiloMeter}}.{{tollInfo.items[0].location.highwayType}} IN {{tollInfo.items[0].location.state}}<br>Stretch : {{tollInfo.items[0].location.stretch}}<br>Tollable Length : {{tollInfo.items[0].location.tollableLength}}
                            </p>
                        </td>
                        <td>Id : {{operatorinfo.loginIdentifiers.username.identifier}}<br> Operator Name : {{operatorinfo.name}}</td>
                </table>
                <div *ngIf="noTransactionMesage" class="noTransactionMessage">
                    <span>{{noTransactionMesage}} </span>
                </div>
                <div class="second-scroll scroll-style" *ngIf="!noTransactionMesage">
                    <table class="second-transaction-table left-adjust">
                        <tr>
                            <th>S NO.</th>
                            <th>CARD NUMBER</th>
                            <th>DATE</th>
                            <th>VEHICLE NUMBER</th>
                            <th>VEHICLE TYPE</th>
                            <th>ENTRY TIME</th>
                            <th>EXIT TIME</th>
                            <th>JOURNEY TYPE</th>
                            <th>AMOUNT</th>
                        </tr>
                        <tr *ngFor="let item of transaction_logs.activities; let i = index">
                            <td *ngIf="!item.id">NA </td> <td *ngIf="item.id">{{i+1}}</td>
                            <td *ngIf="!item.cardNumber">NA</td> <td *ngIf="item.cardNumber">{{item.cardNumber}}</td>
                            <td *ngIf="!item.activityTime">NA</td> <td *ngIf="item.activityTime">{{getDate(item.activityTime)}}</td>
                            <td *ngIf="!item.vehicleNo">NA</td> <td *ngIf="item.vehicleNo">{{item.vehicleNo}}</td>
                            <td *ngIf="!item.vehicletype">NA</td> <td *ngIf="item.vehicletype">{{item.vehicletype}}</td>
                            <td *ngIf="!item.activityTime">NA</td> <td *ngIf="item.activityTime">{{formatAMPM(item.activityTime)}}</td>
                            <td *ngIf="!item.activityTime">NA</td> <td *ngIf="item.activityTime">{{formatAMPM(item.activityTime)}}</td>
                            <td *ngIf="!item.action">NA</td> <td *ngIf="item.action">{{item.action}}</td>
                            <td *ngIf="!item.amount.value">&#8377; NA</td> <td *ngIf="item.amount.value">&#8377; {{item.amount.value}}</td>
                        </tr>
                    </table>
                </div>
                <div class="transaction-amount-div total-amount total-amount-passactivated" *ngIf="!noTransactionMesage">
                    <div class="text-total"><span class="total-amount-text">Total </span> </div>
                    <div class="total-card-sold"><span class="total-card"></span>--</div>
                    <div style= "width:66%;"></div>
                    <div class="total-amount-collected"><span class=" total-settlement-amount">&#8377; --</span></div>
                </div>
                <div class="total-recharge-div background-orange" *ngIf="!noTransactionMesage">
                    <div class="total-text"><span class="total-amount-text">Total </span> </div>
                    <div class="total-card-recharge"><span class="total-card">--</span> </div>
                    <div class="total-recharge-sum"><span class=" recharge-total-amount">&#8377; -- </span></div>
                </div>
                <!--amount division-->
                <h3 class="amounts-div-header width-style"> 
                    AMOUNTS
                </h3>
                <table class="amounts-table last-width ">
                    <tr>
                        <td class="td-left">TOTAL TRANSACTION AMOUNT</td>
                        <td>&#8377; --</td>
                    </tr>
                    <tr>
                        <td class="td-left">TOTAL RECHARGE AMOUNT</td>
                        <td>&#8377; --</td>
                    </tr>
                </table>
                <div class="amount-style-bottom width-style total-amount-footer">
                    <div class="total-collection-text"><span class="total-amounts-amount">Total </span></div> 
                    <div class="total-collection-text"><span class=" amounts-amount">&#8377; --</span></div>
                </div>
                <table class="amounts-table last-width ">
                    <tr>
                        <td class="td-left">AMOUNT DEPOSITED TO ESCROW ACCOUNT</td>
                        <td>&#8377; --</td>
                    </tr>
                    <tr>
                        <td class="td-left">BALANCE GOES TO MERCHANT ACCOUNT</td>
                        <td>&#8377; --</td>
                    </tr>
                </table>
                <!--transaction full details-->
                <table class="transaction-full-detail last-width" *ngIf="companyInfo">
                    <tr>
                        <td class="details-left">Company Name</td>
                        <td class="details-right">{{companyInfo.name}}</td>
                    </tr>
                    <tr>
                        <td class="details-left">Name of Account</td>
                        <td class="details-right">{{companyInfo.registration.details.registeredName}}</td>
                    </tr>
                    <tr>
                        <td class="details-left">Phone Number</td>
                        <td class="details-right">{{companyInfo.contact.details.landlineNumber}}</td>
                    </tr>
                    <tr>
                        <td class="details-left">BANK Name</td>
                        <td class="details-right">{{companyInfo.settlement.details.bankAccount.bankName}}</td>
                    </tr>
                    <tr>
                        <td class="details-left">Account Number</td>
                        <td class="details-right">{{companyInfo.settlement.details.bankAccount.accountNumber}}</td>
                    </tr>
                    <tr>
                        <td class="details-left">Name of Account</td>
                        <td class="details-right">{{companyInfo.settlement.details.bankAccount.type}}</td>
                    </tr>
                    <tr>
                        <td class="details-left">IFSC Code</td>
                        <td class="details-right">{{companyInfo.settlement.details.bankAccount.IFSC}}</td>
                    </tr>
                </table>
                <div class="details-details-total width-style total-amount-footer">
                    <div><span class="details-amount-text">Total </span> <span class="details-amount-total">--</span> </div>
                </div>
                <div class="report-generated-div last-width">
                    <div class="start-date"><span class="report-generation-from">Reports Generation From </span> <span class="date-from">MAY-12-2016 12.00</span> <span class="to-text">TO</span><span class="date-to">MAY-12-2016 12.00</span></div>
                </div>
                <div class="report-generated-div last-width">
                    <div class="start-date"><span class="report-generation-from">Automatic Settlement From </span> <span class="date-from">MAY-12-2016 12.00</span> <span class="to-text">TO</span><span class="date-to">MAY-12-2016 12.00</span></div>
                </div>
            </div>
            <!--footer-->
            <div class="settlement-buttons">
              <button type="button" [routerLink]="['../../../dashboard']" name="button" class="dashboard-meter pull-left">
                <img src="../src/images/black-dashboard-icon.png" alt="" />
                <p>Dashboard</p>
              </button>
              <button type="button" name="button" class="settlement-meter pull-left" (click)="showtime()">
                <img src="../src/images/white-settlements-icon.png" alt="" />
                <p>Settlements</p>
              </button>
              <button type="button" name="button" class="send-report pull-left" data-backdrop="static" data-toggle="modal" data-target="#myModal">
                <p>Send Report</p>
              </button>
              <div class="profile-calender" style="height: 100%; position: relative; width: 23%;" >
              <div style="display:flex; flex-direction: row; justify-content:space-between; height: 100%;width: 100%;">
                <div class='input-daterange ' style="width: 54%;">
                  <!-- ngb date -->
                  <input class="calender-to" placeholder="Start date" name="dp"[(ngModel)]="startdate_model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle(); e.close();" type="text" (dateSelect)="onDateStartSelect($event)" [minDate]="minDate "
                [maxDate]="maxDate" readonly>
                  <!-- ngb date -->
                </div>
                <div class='input-daterange'style="width: 54%;"> 
                  <!-- ngb date -->
                  <input class="calender-from" placeholder="End date" name="dq"[(ngModel)]="enddate_model" ngbDatepicker #e="ngbDatepicker" (click)="d.close(); e.toggle()" type="text" (dateSelect)="onDateEndSelect($event)" [minDate]="minDate"
                [maxDate]="maxDate" readonly>
                  <!-- ngb date -->
                </div>
              </div>
            </div>
              <div class="page-upto"><span *ngIf="!noTransactionMesage" > {{pagination.pageno}} of {{totalItems}}</span> <span *ngIf="noTransactionMesage" >0</span><a (click)="nextItems('PREVIOUS')"><img src="../src/images/leftarrow.png" alt="" class="pull-right" /></a> <a (click)="nextItems('NEXT')"><img src="../src/images/rightarrow.png" alt="" class="pull-right" /> </a></div>
        </div>
    </div>
