<div class="parent-class">
        <div class="button-style">
          <a [routerLink]="['../rate-card']">
            <button type="button">Rate Card</button>
          </a>
          <a [routerLink]="['../transaction']">
            <button type="button" class="">Transaction</button>
          </a>
          <a [routerLink]="['../pass']">
            <button type="button" class="">Pass</button>
          </a>
          <a [routerLink]="['../recharge']">
            <button type="button" class="">Recharge</button>
          </a>
          <a [routerLink]="['../cardsettlement']">
            <button type="button" name="">Doe Card</button>
          </a>
          <a [routerLink]="['../summary']">
            <button type="button" name="">Summary</button>
          </a>
          <a>
            <button type="button"  class="active" name="">Profile</button>
          </a>
        </div>
        <div class="full-content">
            <div class="left-content">
    
                <div class="profile-main" *ngIf="operatorDetails">
                    <div class="basic-info-text">
                        <span>BASIC INFO</span>
                        <img src="../src/images/edit-img.png" class="edit-icon" />
                    </div>
                    <div class="upper-section">
                      <div class="common-row">
                          <div class="common-section">
                            <div class="total-credit-img">
                                <img class="total-credit-img-circle" src="../src/images/parking@3x.png" />
                            </div>
                            <div class="total-credit-amount">
                                <p class="total-credit">
                                    TOTAL CREDITS
                                </p>
                                <p class="credit-total-amount">
                                  <sup>&#8377;</sup>1500<sup>00 </sup>
                                </p>
                            </div>
                          </div>
                          <div class="common-section">
                            <div class="common-inner-content">
                                <p class="same-upper-p">
                                  Name
                                </p>
                                <p class="same-lower-p">
                                  {{operatorDetails.name}}
                                </p>
                            </div>
                          </div>
                      </div>
                      <div class="common-row">
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                USER ID
                              </p>
                              <p class="same-lower-p">
                                {{operatorDetails.loginIdentifiers.username.identifier}}
                              </p>
                          </div>
                        </div>
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                EMAIL ID
                              </p>
                              <p class="same-lower-p">
                                {{operatorDetails.businessProfile.email}}
                              </p>
                          </div>
                        </div>
                      </div>
    
                      <div class="common-row">
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                LOCATION
                              </p>
                              <p class="same-lower-p">
                                NA
                              </p>
                          </div>
                        </div>
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                AADHAR NUMDER
                              </p>
                              <p class="same-lower-p">
                                {{operatorDetails.aadhaar}}
                              </p>
                          </div>
                        </div>
                      </div>
    
    
                    </div>
                    <div class="bank-detail-text">
                        <span>BANK DETAILS</span>
    
                    </div>
                    <div class="upper-section">
                      <div class="common-row">
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                ACCOUNT NUMBER
                              </p>
                              <p class="same-lower-p">
                                {{operatorDetails.bankAccount.accountNumber}}
                              </p>
                          </div>
                        </div>
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                  BANK NAME
                              </p>
                              <p class="same-lower-p">
                                {{operatorDetails.bankAccount.bankName}}
                              </p>
                          </div>
                        </div>
                      </div>
                      <div class="common-row">
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                IFSC CODE
                              </p>
                              <p class="same-lower-p">
                                {{operatorDetails.bankAccount.IFSC}}
                              </p>
                          </div>
                        </div>
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                BRANCH
                              </p>
                              <p class="same-lower-p">
                                NA
                              </p>
                          </div>
                        </div>
                      </div>
                      <div class="common-row">
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                MOBILE NUMBER 1
                              </p>
                              <p class="same-lower-p">
                                {{operatorDetails.businessProfile.mobileNumber}}
                              </p>
                          </div>
                        </div>
                        <div class="common-section">
                          <div class="common-inner-content">
                              <p class="same-upper-p">
                                MOBILE NUMBER 2
                              </p>
                              <p class="same-lower-p">
                                NA
                              </p>
                          </div>
                        </div>
                      </div>
                    </div>
    
                </div>
    
                <div class="overview1">
                    <button type="button" [routerLink]="['../../../dashboard']" name="button" class="overview__dashboard-meter">
                        <img src="../src/images/dashboard-icon.png" alt="" />
                        <p>Dashboard</p>
                    </button>
                    <button type="button" name="button" class="overview__settlements">
                        <img src="../src/images/settlements-icon.png" alt="" />
                        <p>Settlements</p>
                    </button>
                    <button type="button" name="button" class="logout-button" data-backdrop="static" data-toggle="modal" data-target="#myModal" (click)= "logout();">
                        <img src="../src/images/logout.png" alt="" />
                        <p>Logout</p>
                    </button>
                    <button type="button" name="button" class="update-account" data-backdrop="static" data-toggle="modal" data-target="#myModal">
                        <p>Update Account Settings</p>
                    </button>
                </div>
            </div>
            <div class="second-division">
                <div class="your-last-text"> YOUR LAST 10 CREDITS </div>
                    <ul>
                        <li class="li-style" ng-repeat="transactions in recentTranasction.data.data.activities">
                            <div>
                                <div>
                                        <span class="p-style ">Commission for</span>
                                </div>
                                <div>
                                    <span class="p-account-number "></span>
                                </div>
                            </div>
                            <div class="amount-li">
                                <span class="p-amount "><sup>&#8377;</sup></span>
                            </div>
                        </li>
                        
                    </ul>
    
            </div>
        </div>
    </div>
    