<div class=" pass_types_main_section">
	<div class="pass-option">
		<a [routerLink]="['../dailypass']">
    		<button >DAILY PASS</button>
	 	</a>
		<a [routerLink]="['../monthlypass']">
    		<button class="active">MONTHLY PASS</button>
	 	</a>
	 	<a [routerLink]="['../localpass']">
    		<button >LOCAL PASS</button>
	 	</a>
	 	<a [routerLink]="['../renewalpass']">
    		<button >RENEWALS</button>
	 	</a>
	</div>
	<div class= "flavour-range-div">
		<div class="pass-flavour monthly_pass_kilometer_range">
			<div class="kilometer-range" *ngIf="monthsCount.length">
				<button class="pass-flavour__action_buttons" *ngFor="let item of monthsCount">
					{{item}}
				</button>
			</div>

		</div>
		<div class="second-part">
			<div class="date-trip-time">
				<div class="current-date">
					<P>11-08-2018 /  04:11 PM</P>
				</div>
				<div class="date-validity">
					<p>Date Validity:  11/08/2017 - 10/09/2017</p>
				</div>
				<div class="trips-validity">
					<p></p>
				</div>
				<div class="total-text">
					<span>Total Amount:</span>
				</div>
				<div class="amount">
					<span>&#8377;</span>
					<span></span>
					<p>00</p>
				</div>
				<div class="activate-pass">
					<button class= "pass__default_btn" (click)="confirmPassActivation();">ACTIVATE / DONE</button>
				</div>
				<div class="back-button">
					<button class= "pass__default_btn" [routerLink]="['../../../dashboard']">BACK</button>
			</div>
		</div>
	</div>

</div>
<!-- Modal for card action popup ends-->
<div>
  <popup></popup>
</div>