<div class="parent-class">
  <div class="button-style">
    <a [routerLink]="['../rate-card']">
      <button type="button">Rate Card</button>
    </a>
    <a [routerLink]="['../transaction']">
      <button type="button" class="">Transaction</button>
    </a>
    <a>
      <button type="button" class="active">Pass</button>
    </a>
    <a [routerLink]="['../recharge']">
      <button type="button" class="">Recharge</button>
    </a>
    <a [routerLink]="['../cardsettlement']">
      <button type="button" name="" class="">Doe Card</button>
    </a>
    <a [routerLink]="['../summary']">
      <button type="button" name="">Summary</button>
    </a>
    <a [routerLink]="['../profile']">
      <button type="button" name="">Profile</button>
    </a>
  </div>
  <div class="content-page">
    <div *ngIf="noTransactionMesage" class="amounts-div-header no-margin-to">
      <span>{{noTransactionMesage}} </span>
    </div>
    <div *ngIf="!noTransactionMesage" class="scrollable">
      <div class="settlement-card">
        <table class="first-table-settlement first-table-settlement-content">
          <thead>
            <tr class="">
              <th class="">SL. NO</th>
              <th>CARD NUMBER</th>
              <th>PASS TYPE</th>
              <th>NO. OF TRIPS / MONTHLY</th>
              <th>ACTIVITY TILL</th>
              <th>DUMMY</th>
              <th>DUMMY</th>
              <th>AMOUNT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of recharge_logs.activities; let i = index">
                <td *ngIf="!item.id">NA </td> <td *ngIf="item.id">{{i+1}}</td>
                <td *ngIf="!item.cardNumber">NA</td> <td *ngIf="item.cardNumber">{{item.cardNumber}}</td>
                <td *ngIf="!item.action">NA</td> <td *ngIf="item.action">{{item.action}}</td>
                <td *ngIf="!item.remainingTrips">NA</td> <td *ngIf="item.remainingTrips">{{item.remainingTrips}}</td>
                <td *ngIf="!item.activityTime">NA</td> <td *ngIf="item.activityTime">{{getDate(item.activityTime)}}</td>
                <td>--</td>
                <td>--</td>
                <td *ngIf="!item.amount.value">&#8377; NA</td> <td *ngIf="item.amount.value">&#8377; {{item.amount.value}}</td>
            </tr> 
          </tbody>
        </table>
      </div>
      <div class="total-amount">
        <div class="card-summary-total"><span class="total-amount-text">Total</span></div>
        <div class="card-sold-total"><span class="total-card">--</span> </div>
        <div class="cost-for-card"><span class="total-card-amount">&#36; --</span></div>
        <div class="merchant-agent-commission"><span class="merchant-commission-total">&#36; --</span> </div>
        <div class="sales-commission-total"><span class="sales-commission-total">&#36; --</span> </div>
        <div style="width:14%;"></div>
        <div class="card-activation"><span *ngIf= "totalRecharge" class="card-activation-total"> {{totalRecharge}}</span> <span *ngIf= "!totalRecharge" class="card-activation-total"> -- </span></div>
      </div>
    </div>
    <div class="settlement-buttons">
      <button type="button" name="button" class="dashboard-meter pull-left" [routerLink]="['../../../dashboard']">
        <img src="../src/images/black-dashboard-icon.png" alt="" />
        <p>Dashboard</p>
      </button>
      <button type="button" name="button" class="settlement-meter pull-left">
        <img src="../src/images/white-settlements-icon.png" alt="" />
        <p>Settlements</p>
      </button>
      <button type="button" name="button" class="send-report pull-left" data-backdrop="static" data-toggle="modal" data-target="#myModal">
        <p>Send Report</p>
      </button>
      <div class="profile-calender" style="height: 100%; position: relative; width: 23%;" >
        <div style="display:flex; flex-direction: row; justify-content:space-between; height: 100%;width: 100%;">
          <div class='input-daterange ' style="width: 54%;">
            <!-- ngb date -->
            <input class="calender-to" placeholder="Start date" name="dp"[(ngModel)]="startdate_model" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle(); e.close();" type="text" (dateSelect)="onDateStartSelect($event)" [minDate]="minDate "
            [maxDate]="maxDate" readonly>
              <!-- ngb date -->
            </div>
            <div class='input-daterange'style="width: 54%;"> 
              <!-- ngb date -->
              <input class="calender-from" placeholder="End date" name="dq"[(ngModel)]="enddate_model" ngbDatepicker #e="ngbDatepicker" (click)="d.close(); e.toggle()" type="text" (dateSelect)="onDateEndSelect($event);" [minDate]="minDate"
            [maxDate]="maxDate" readonly>
            <!-- ngb date -->
          </div>
        </div>
      </div>
      <div class="page-upto"><span *ngIf="!noTransactionMesage" > {{pagination.pageno}} of {{totalItems}}</span> <span *ngIf="noTransactionMesage" >0</span> <a (click)="nextItems('PREVIOUS')"><img src="../src/images/leftarrow.png" alt="" class="pull-right" /></a> <a (click)="nextItems('NEXT')"><img src="../src/images/rightarrow.png" alt="" class="pull-right" /> </a></div>
    </div>
  </div>
</div>
      