<div class="pass_types_main_section">
	<div class="pass-option">
		<a [routerLink]="['../dailypass']">
    		<button>DAILY PASS</button>
	 	</a>
		<a [routerLink]="['../monthlypass']">
    		<button>MONTHLY PASS</button>
	 	</a>
	 	<a [routerLink]="['../localpass']">
    		<button >LOCAL PASS</button>
	 	</a>
	 	<a [routerLink]="['../renewalpass']">
    		<button class="active">RENEWALS</button>
	 	</a>
	</div>
	<div class= "flavour-range-div">
		<div class="pass-flavour">
			<div class="kilometer-range">
				<button class="pass-flavour__action_buttons">
					BELOW 10 KM
				</button>
				<button class="pass-flavour__action_buttons">
					BELOW 20 KM
				</button>
				<button class="pass-flavour__action_buttons">
					SAMPLE
				</button>
				<button class="pass-flavour__action_buttons">
					SAMPLE
				</button>
			</div>
			<div class="month-range">
				<button class="pass-flavour__action_buttons">
					ONE MONTH
				</button>
				<button class="pass-flavour__action_buttons">
					TWO MONTHS
				</button>
				<button class="pass-flavour__action_buttons">
					SAMPLE
				</button>
				<button class="pass-flavour__action_buttons">
					SAMPLE
				</button>
			</div>

		</div>
		<div class="second-part">
			<div class="date-trip-time">
				<div class="current-date">
					<P>11-08-2017  /  04:11 PM</P>
				</div>
				<div class="date-validity">
					<p>Date Validity:  11/08/2017 - 10/09/2017</p>
				</div>
				<div class="trips-validity">
					<p>Balance Validity:  40 ( Daily / Monthly )</p>
				</div>
				<div class="total-text">
					<span>Total Amount:</span>
				</div>
				<div class="amount">
					<span>&#8377;</span>
					<span>1500</span>
					<p>00</p>
				</div>
				<div class="activate-pass pass__action_button">
					<button class= "pass__default_btn">ACTIVATE / DONE</button>
				</div>
				<div class="back-button">
					<button class= "pass__default_btn" [routerLink]="['../../../dashboard']">BACK</button>
				</div>

			</div>
		</div>
	</div>

</div>
